*,
::before,
::after {
  box-sizing: border-box;
}

:root {
}

html {
  font-family: monospace;
  direction: ltr;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  padding: 2rem;
}

h1 {
  text-decoration: underline;
}

.theRadioButtons li {
  margin-bottom: 1rem;
}

.labelForTheTypeInInput {
  display: none;
}

.removeButton {
  margin-top: 2rem;
}

h2 {
  margin-top: 3rem;
}

li {
  font-size: 1.5rem;
}

li > label {
  margin-right: 0.5rem;
}

.checkedToDo {
  text-decoration-line: line-through;
}
